*.log
.DS_Store
vacation-choice/.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.vscode
/.zed
/vacation-choice/.phpunit.cache
/vacation-choice/auth.json
/vacation-choice/node_modules
/vacation-choice/public/build
/vacation-choice/public/hot
/vacation-choice/public/storage
/vacation-choice/storage/*.key
/vacation-choice/storage/pail
/vacation-choice/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
